@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
/*Titre*/
.titre {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  align-items: center;
  box-shadow: rgba(85, 85, 85, 0.15) 0px 5px 10px;
}
.titre__img {
  width: 43%;
  margin: 5% 20%;
}
.titre__arrow {
  text-align: center;
  text-decoration: none;
  color: #393939;
  font-size: 1.25em;
}

/* intro index et page*/
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  padding-bottom: 5%;
}
.intro__localisation {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: initial;
  background-color: #dfdfdf;
  width: 100%;
  font-weight: 600;
  justify-content: center;
  color: #464646;
}
.intro__localisation--icone {
  margin-right: 5%;
}
.intro__h2 {
  width: 80%;
  hyphens: auto;
  text-align: center;
}
.intro__p {
  width: 90%;
  hyphens: auto;
  text-align: center;
}
.intro__page {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: space-between;
  border-radius: 35px 35px 0 0;
  position: relative;
  padding: 5% 5% 0;
  margin-top: -2.5em;
  background-color: #f8f8f8;
}
.intro__page__h1 {
  font-family: "Shrikhand";
  font-size: 1.65em;
  text-align: initial;
  background-color: #f8f8f8;
}

/*fonctionnement index*/
.fonct {
  padding: 2em 0 2em;
  background-color: white;
}
.fonct__marg {
  margin: 5%;
}
.fonct__flex {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: initial;
  box-shadow: rgba(85, 85, 85, 0.15) 0px 5px 10px;
  border-radius: 20px;
  margin: 5%;
  width: 95%;
  background-color: #f8f8f8;
}
.fonct__flex__icone {
  color: grey;
  margin: 5% 7% 5% 1%;
}
.fonct__flex:hover {
  background-color: #f2eafb;
}
.fonct__flex:hover > .fa-solid {
  color: #9356DC;
}
.fonct__rond {
  background-color: #9356DC;
  height: 1.8em;
  width: 1.8em;
  border-radius: 20px;
  position: relative;
  left: -0.9em;
}
.fonct__num {
  color: white;
  text-align: center;
  font-size: 1em;
  margin: 5px 0 0 0;
}

/* Section card*/
.section-card {
  margin: 5%;
}
.section-card__h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.card {
  box-shadow: rgba(85, 85, 85, 0.15) 0px 5px 10px;
  text-decoration: none;
  color: black;
  border: 0;
  border-radius: 20px;
  width: 100%;
  display: block;
  margin-bottom: 10%;
}
.card__img {
  width: 100%;
  hyphens: auto;
  text-align: center;
  border-radius: 20px 20px 0 0;
  height: 10em;
  object-fit: cover;
  object-position: center;
}
.card__new {
  color: #2c9c81;
  background-color: #99E2D0;
  width: 18%;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bolder;
  padding: 2%;
  text-align: center;
  position: absolute;
  margin: 4%;
  margin-left: 65%;
}
.card__heart {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: space-between;
  padding: 0 5%;
}
.card__text {
  display: flex;
  align-items: initial;
  flex-direction: column;
  justify-content: initial;
}
.card__text--h3 {
  margin-bottom: 0;
  font-size: 1em;
}
.card__text--p {
  margin-top: 0;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text-page {
  display: flex;
  align-items: initial;
  flex-direction: column;
  justify-content: initial;
  width: 70%;
  white-space: nowrap;
}
.card__text-page:hover {
  width: 50%;
  transition: width 600ms cubic-bezier(0.49, 0.18, 0.23, 0.1);
}
.card__icone {
  position: relative;
}
.card__icone__regular {
  position: absolute;
}
.card__icone__solid {
  position: relative;
  opacity: 0;
  background: -webkit-linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 400ms;
}
.card__icone__solid:hover {
  opacity: 1;
  transform: ease-in;
}
.card__page {
  box-shadow: rgba(85, 85, 85, 0.15) 0px 5px 10px;
  text-decoration: none;
  color: black;
  border: 0;
  border-radius: 20px;
  width: 92%;
  display: block;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: space-between;
  padding: 0 0 0 5%;
  background-color: white;
  margin-bottom: 5%;
}
.card__page:hover .btn-card--anim {
  transform: translateX(-1.5em);
  transition: transform 600ms cubic-bezier(0.49, 0.18, 0.23, 0.1);
}
.card__page:hover .btn-card__rotate {
  transform: scaleX(1);
  border-radius: 0 20px 20px 0;
  transition: transform 500ms cubic-bezier(0.49, 0.18, 0.23, 0.1);
}
.card__page:hover .btn-card__rotate--anim {
  opacity: 1;
  transform: rotate(1turn);
}

.btn {
  border-radius: 20px;
  color: white;
  margin: 5%;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  width: 100%;
  border: 0;
  padding: 1em 2em;
  font-size: medium;
}
.btn__page {
  border-radius: 20px;
  color: white;
  margin: 5%;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  width: 50%;
  border: 0;
  padding: 1em 2em;
  font-size: medium;
}
.btn__center {
  text-align: center;
}

.btn-card {
  display: flex;
  align-items: initial;
  flex-direction: initial;
  justify-content: initial;
}
.btn-card--anim {
  font-size: 0.9em;
  font-weight: bold;
  align-self: end;
  overflow: hidden;
  transform: translateX(2em);
}
.btn-card__rotate {
  text-align: center;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: right 50%;
  width: 4em;
  height: 4.8em;
  background-color: #99E2D0;
}
.btn-card__rotate:not(:last-child) {
  margin-right: 5%;
}
.btn-card__rotate--anim {
  margin-top: 0.6em;
  transform: rotate(0turn);
  color: white;
  text-align: center;
  opacity: 0;
  transition: 1s cubic-bezier(0.49, 0.18, 0.23, 0.1);
}

/*Body*/
body {
  max-width: 100%;
  background-color: #f8f8f8;
  font-family: "Roboto";
  display: block;
  margin: 0;
}

.img__page {
  width: 100%;
  position: relative;
  object-fit: cover;
  height: 16em;
}

.trait {
  width: 2.5em;
  height: 3px;
  background-color: #99E2D0;
  margin: -0.5em 0 2em;
}

/* footer*/
.footer {
  background-color: #363636;
  height: 15em;
}
.footer__titre {
  font-family: "Shrikhand";
  font-size: 1.1em;
  text-align: start;
  color: #f3f3f3;
  padding: 5%;
  margin: 0;
  text-rendering: auto;
}
.footer__text {
  margin: 0 5%;
  text-decoration: none;
  color: #f3f3f3;
  line-height: 10%;
}
.footer__text--icone {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: start;
}
.footer__text--icone--i {
  font-size: 0.8em;
  margin-right: 1em;
}
.footer__text--contact {
  text-decoration: none;
  color: #f3f3f3;
}

/*# sourceMappingURL=style.css.map */
