
/* image sur les page */
.img__page{
    width: 100%;
    position: relative;
    object-fit: cover;
    height: 16em;
}
/* trait sous entrée plat desserts*/
.trait{
    width: 2.5em;
    height: 3px;
    background-color: $color-tertiary;
    margin: -0.5em 0 2em;
}

