@mixin boutton($size:100%) {
    border-radius: $radius;
    color: white;
    margin: $espace5;
    @include couleur;
    width: $size;
    border: 0;
    padding: 1em 2em;
    font-size: medium;
}
.btn{
    @include boutton(100%);
    &__page{
        @include boutton(40%);
    }
    &__center{
        text-align:center;
    }
}



.btn-card{
    @include flex_complet(initial,initial, initial);
    &--anim{
        font-size: 0.9em;
        font-weight: bold;
        align-self: end;
        overflow: hidden;
        transform: translateX(2em);
    }
    &__rotate{
        text-align: center;
        overflow: hidden;
        transform: scaleX(0);
        transform-origin: right 50%;
        width: 4em;
        height: 4.8em;
        background-color: $color-tertiary;
        &:not(:last-child){
            margin-right: $espace5;
        
        }
        &--anim{
            margin-top: 0.6em;
            transform:  rotate(-1turn);
            color: white;
            text-align: center;
            opacity: 0;
            transition: 1s $easing;
        
        }
    
    }
}