@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

/*Body et breakpoint tablette desktop*/
body{
    background-color: $fond-color;
    font-family: 'Roboto';
    display: block;
    margin: 0;
    width: 100%;
    @include tablette;

}

/* footer*/
.footer{
    background-color: darken($color: darkgrey, $amount: 45%);
    height: 15em;
    &__titre{
        @include titre(1.1em,start);
        color:$textcolor;
        padding:  1em $espace5 0.5em  ;
        margin: 0;
        font-weight: 100;
    }
    &__text{
        margin: 0 $espace5;
        text-decoration: none;
        color:$textcolor;
        line-height: 1.5em;
        &--icone{
            @include flex_complet(baseline, initial, start);
            &--i{
                font-size: 0.8em;
                margin-right: 1em;
            }
        }
        &--p{
            @include balisep;
        }
        &--contact{
            @include lien ($textcolor);
            font-size: 0.9em;
        }
    }
}
