@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

.cadre_rouge
{
    border: 1px solid red;
}
body{
    max-width: $mobile;
    font-family: 'Roboto';
}

.intro{

    @include flex_align;
    &__localisation{
    @include flex_center;
    width: 40%;
    justify-content: space-around;
    }
    &__h2 {
        @include largeur(80%);
    }
    &__p{
        @include largeur(90%);
    }

}

.fonct {
    &__flex{
        @include flex_center;
        @include shadow;
        border-radius: $radius;
        margin: $espace5;
        width: 90%;
    }
    &__num{
        @include numero;
    }
    &__icone{
        @include icone;
    }
    &__flex:hover{
        background-color:lighten($color: $color-primary, $amount: 30%) ;
    }
}

.card {
    @include card (90%);
    &__img{
        @include largeur(100%);
        border-radius: $radius $radius 0 0;
        height: 13em;
        object-fit: cover;
    }
    &__new{
        @include new_volant;
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__heart{
        display: flex;

    }
}
