/*Titre*/
.titre{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    @include shadow;
    &__img{
        width: 43%;
        margin: $espace5 $espace5*4;
        @media (min-width:$desktop){
            width: 30%;
        }
    }
}
/*Intro de l'index*/
.intro{
    @include flex_complet(center,column,center);
    background-color: $fond-color;
    padding-bottom: $espace5;
    &__localisation{
        @include flex_complet(center,initial,initial);
        background-color: darken($fond-color, $amount: 10%);
        width: 100%;
        font-weight: 600;
        justify-content: center;
        color: darken($fond-color, $amount: 70%);
        &--icone{
            margin-right: $espace5;
        }
    }
    &__h1 {
        @include largeur(80%);
    }
    &__p{
        @include largeur(90%);
    }
}

/*fonctionnement index*/
.fonct {
    padding: 2em 0 2em;
    background-color: white;
    &__marg{
        margin: $espace5;
    }
    &__responsive{
        @media (min-width:$desktop) {
            @include flex_complet(center,initial,initial);
        }
    }
    &__flex{
        @include flex_complet(center, initial , initial);
        @include shadow;
        border-radius: $radius;
        margin: $espace5;
        height: 4.5em;
        width: 95%;
        background-color: $fond-color;
        @media (min-width:$desktop) {
            margin:2%;
            width: 100%;
        }
        &__icone{
            @include icone ( grey, 5% 7% 5% 1%);
        }
        &:hover{
            background-color:lighten($color: $color-primary, $amount: 35%) ;
            & >.fa-solid{
            color:$color-primary ;
            }
        }
    }
    &__rond{
        @include rond (1.8em);
    }
    &__num{
        @include numero;
    }
    &__h3{
        font-size: 1em;
    }
}

/* Card pour les restaurants*/
.card {
    @include card ;
    &__img{
        @include largeur(100%);
        border-radius: $radius $radius 0 0;
        height: 10em;
        object-fit: cover;
        object-position: center;
        @media (min-width:700px) {
            height: 20em;
        }
    }
    &__new{
        @include new_volant;
    }
    &__heart{
        @include flex_complet(center, initial, space-between);
        padding: 0 $espace5;
    }
}