/* animations slide des cards*/
.card{
    &__page{
        @for $i from 1 through 4{
            &--#{$i} {
                animation: tempo 500ms*$i;
            }
        }
        &:hover .btn-card{ 
            &--anim{
                animation: slide 600ms forwards $easing;
            }
            &__rotate{
                animation: anim-slide 500ms forwards $easing;
                &--anim{ 
                    opacity: 1;
                    transform: rotate(1turn);
                }
            }
        }
    }
}
/*keyframe pour rotation et slide des bouton card*/
@keyframes tempo{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes slide{
    0%{
        width: 10%;
    }
    100%{
        width: 15%;
    }
}

@keyframes anim-slide{
    0%{
        width: 0;
        height: 3.8em;
        margin-left: 10%;
    }
    5%{
        height: 4em;
        border-radius: 0 $radius $radius 0;
    }
    10%{
        height: 4.2em;
    }
    15%{
        height: 4.6em;
    }
    18%{
        height: 4.8em;
    }
    100%{
        margin-left: 0;
        height: 4.8em;
        width: 25%;
    }
}