@mixin numero {
    background-color: $color-primary;
    border-radius: $radius;
    color: white ;
    width: 18px;
    text-align: center;
}

@mixin flex_center{
    display: flex;
    align-items: center;

}