/*fond chargement avec keyframe*/
.loading{
    width: 100%;
    height: 100%;
    @include flex_complet(center, initial, center);
    background: $fond-color;
    opacity: 0.95;
    position: fixed;
    z-index: 1;
    animation: load;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes load{
    0%{
        opacity: 1;
        visibility: visible;
        transform: rotate(0);
        
    }
    100%{
        opacity: 0;
        transform: rotate(360deg);
        transition: transform;
        visibility: hidden;
    }
}

/* Icone bouteille pour le chargement avec keyframe*/
.loader {
    width: 40px;
    height: 98px;
    display: inline-block;
    position: relative;
    border: 2px solid #FFF;
    box-sizing: border-box;
    color:$color-primary;
    border-radius: 20px 20px 4px 4px;
    background:$color-tertiary;
    animation: fill 1.5s linear 2 alternate;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50% , -95%);
    border: 2px solid #FFF;
    border-bottom: none;
    background: $color-tertiary;
    width: 15px;
    height: 35px;
    animation: fillNeck 1.5s linear 2 alternate;
}

@keyframes fill {
    0% { box-shadow: 0 0  inset }
    50% , 100% { box-shadow: 0 -98px inset }
}

@keyframes fillNeck {
    0% , 50%{ box-shadow: 0 0  inset }
    100% { box-shadow: 0 -20px inset }
}
