$color-primary: #9356DC ;
$color-primarybis: lighten($color-primary,5%);
$color-secondary: #FF79DA ;
$color-secondarybis:lighten($color-secondary,5%);
$color-tertiary: #99E2D0 ;
$fond-color:#f8f8f8;
$textcolor:white;
$radius: 20px;
$radiustop: 35px;
$mobile: 100%;
$espace5: 5%;
$desktop:980px;
$easing: cubic-bezier(.15,.18,.23,.1);